mixin about()
  section.about.page-section.page-section--decor(id="about", data-section)
    .page-section__trigger(data-section-trigger)
    .page-section__header
      .container
        .page-section__title-wrapper
          .page-section__title-bg.title-h1(data-title-bg) About us
          h2.page-section__title.title-h2 About us
    .page-section__body
      .container
        .page-section__grid
          .about__image-wrapper(data-sal="fade", data-sal-duration="600", data-sal-delay="100", data-image-lazy)
            +picture-lazy('content', 'ivan-powerfull', 'jpg', 580, 540, 'Ivan Powerfull')
          .about__content
            h3.about__title.title-h2(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") Greetings
            .about__text-wrapper
              p.text-big(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") #[span.text-accent Welcome to Powerful Team], led by me, Ivan, a fitness expert with 14 years of coaching experience. At the heart of our approach is a commitment to personalized training and perfecting exercise techniques. Each client’s journey is unique, and I’m dedicated to finding the optimal workout strategy for your specific needs.
              p.text-big(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") Join us for a transformative fitness experience where your goals are our mission. With Powerful Team, you’re not just exercising, you’re mastering your body’s potential and joining a community that celebrates every success. Let’s achieve your fitness dreams together!
              //- p.text-big(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") We celebrate every victory together and tackle each challenge with the collective might of our community.
              //- p.text-big(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") Here, every workout is a step toward shared triumph. Join us and unlock your potential. Together, we don’t just aim for goals—we conquer them.

