mixin expertise-footer-text()
  .page-section.expertise-footer-text
    .container
      .expertise-footer-text__main.title-h2.text-uppercase(data-expertise-footer-text) #[span.expertise-footer-text__top(data-expertise-footer-text-top) Leverage our expertise to unlock] #[span.expertise-footer-text__bot(data-expertise-footer-text-bot) new levels of physical excellence]
