-
  const experiseItems = [
    {
      title: "Strength&nbsp;training",
      text: "I craft personalized programs to help you sculpt lean muscle while incinerating fat",
      img: {
        path: 'content/expertise',
        image: 'expert-str',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Strength',
      },
    },
    {
      title: "Bodybuilding",
      text: "Together, we’ll chase your body’s dream shape and strength",
      img: {
        path: 'content/expertise',
        image: 'expert-bb',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Bodybuilding',
      },
    },
    {
      title: "POWERLIFTING",
      text: "Whether for personal strength or competition. I’ll guide you toward your strongest self",
      img: {
        path: 'content/expertise',
        image: 'expert-pl',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'POWERLIFTING',
      },
    },
    {
      title: "Physiotherapy",
      text: "I specialize in correcting poor posture, enhancing hip mobility, and aiding in post-accident rehabilitation.",
      img: {
        path: 'content/expertise',
        image: 'expert-phys',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Physiotherapy',
      },
    },
    {
      title: "Endurance",
      text: "My custom cardio programs ensure efficient fat burn in less time",
      img: {
        path: 'content/expertise',
        image: 'expert-end',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Endurance',
      },
    },
    {
      title: "Nutrition",
      text: "Bid farewell to diets; I’ll educate you on nourishing your unique needs",
      img: {
        path: 'content/expertise',
        image: 'expert-nut',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Nutrition',
      },
    },
  ]

mixin expertise()
  section.expertise.page-section
    .container
      .page-section__header.page-section__header--center
        h2.page-section__title.title-h2 Our Areas Of&nbsp;Expertise
        p.page-section__description.text-md At the core of our online coaching, we specialize in six key areas designed to elevate your fitness journey
      .page-section__body
        .page-section__grid.page-section__grid--col-3
          each card in experiseItems
            article.card.card--button
              .card__image-wrapper
                +picture(card.img.path, card.img.image, card.img.format, card.img.width, card.img.height, card.img.altText)
              .card__content
                h3.card__title.title-h3.text-uppercase !{card.title}
                p.card__description !{card.text}
                +button({text: "Start 14-day free trial"}).button--outline.card__button(data-open-modal="main-form")
        .expertise__footer-text.title-h2 Leverage our expertise to unlock new levels of physical excellence
