mixin expertise()
  section.expertise.page-section.page-section--decor(id="services", data-section)
    .container
      .page-section__header.page-section__header--center
        h2.page-section__title.title-h2(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") Revolutionize Your Fitness: 30 Days to a Transformative Lifestyle Change
        p.page-section__description.text-md(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") Realizing Your Fitness Goals with a Proven, Decade&#8209;Strong Methodology
      .page-section__body
        .page-section__grid.page-section__grid--col-3
          each card, index in experiseItems
            article.card.card--button(data-sal="slide-up", data-sal-duration="600", data-sal-delay=index*50)
              .card__image-wrapper(data-image-lazy)
                +picture-lazy(card.img.path, card.img.image, card.img.format, card.img.width, card.img.height, card.img.altText)
              .card__content.text-center
                h3.card__title.title-h3.text-uppercase !{card.title}
                p.card__description.text !{card.text}
                //- +button({text: "FREE Assesment-session"}).button.card__button(data-open-modal="main-form")
                +button({text: "FREE Assesment-session", href: '/#pricing'}).button.card__button((data-move-to))
      .decor-flash.decor-flash--expertise
