mixin intro()
  .intro
    //- вставлять блоки во внешний контейнер неверно
    //- все блоки содержат в себе container без доп класса tutorial__wrapper
    .intro__cover(data-intro-cover)
    .intro__video-bg-wrapper
      video.intro__video-bg(width="1920" height="1080" preload="auto" autoplay muted playsinline loop data-src="video/video-intro.mp4" src="", data-intro-video)
    .container
      .intro__content
        h1.intro__title.title-h1.text-uppercase Online fitness coaching
        .intro__description.text-md Whatever your goals are, we&nbsp;accomplish them together
        +button({text: "Start 14-days free trial"})(data-open-modal="main-form").intro__button
    .intro__note.text-md We&nbsp;have #[span.text-accent 300+] Satisfied Clients
