mixin preloader()
  .preloader(data-preloader, data-duration-fadein="3000", data-duration-fadeout="3600")
    .preloader__flash
    +picture('content', 'logo', 'png', 490, 143, 'Powerful team logo').preloader__logo
    .preloader__loader
