
mixin reviews()
  section.reviews.page-section(id="reviews", data-section, data-slider-container)
    .page-section__trigger(data-section-trigger)
    .page-section__header.page-section__header--slider
      .container
        .page-section__title-wrapper
          .page-section__title-bg.title-h1(data-title-bg) REAL STORIES
          h2.page-section__title.title-h2(data-sal="slide-up", data-sal-duration="600", data-sal-delay="200") Real stories from #[span.text-accent real&nbsp;people]
      .slider-controls
            button.slider-controls__button.slider-controls__button--prev(type="button", data-slider-prev, aria-label="prev-slide")
              +icon('icon-arrow', 32, 32)
            button.slider-controls__button.slider-controls__button--next(type="button", data-slider-next, aria-label="next-slide")
              +icon('icon-arrow-right', 32, 32)
    .page-section__body
      .container
        .reviews-slider.swiper(data-slider="reviews", data-sal="slide-up", data-sal-duration="600", data-sal-delay="200")
          .reviews-slider__wrapper.swiper-wrapper
            each review in reviews
              .reviews-slider__item.swiper-slide
                .review-card
                  .review-card__header
                    .review-card__author
                      +img(review.img.path, review.img.image, review.img.format, 48, 48, 'author photo').review-card__author-photo
                      .review-card__author-info
                        .review-card__author-name.text !{review.name}
                  .review-card__text.text !{review.text}
                  .review-card__footer
                    +icon('icon-rating', 136, 24).review-card__rating
                    a(href=review.href, target="_blank", rel="nofollow noopener noreferrer").review-card__link.text read on google
          .swiper-pagination.slider-pagination(data-slider="pagination")
