mixin scroll-translator()
  .scroll-translator.scroll-translator--horizontal(data-translator="parent", data-translator-type="horizontal")
    .scroll-translator__indicator(data-translator="indicator")
