mixin services()
  section.services.page-section.page-section--decor(id="services", data-section)
    .page-section__trigger(data-section-trigger)
    .services__inner
      .page-section__header
        .container
          .page-section__title-wrapper
            .page-section__title-bg.page-section__title-bg--reverse.title-h1(data-title-bg="services") Services offered
            h2.page-section__title.title-h2(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") Services offered
          .services__content
            .services__content-inner
              p.page-section__description.text(data-sal="slide-up", data-sal-duration="600", data-sal-delay="100") We are more than just a fitness coaching service; we are your partners in transforming your health and fitness journey. Our range of bespoke services caters to various fitness goals and needs, ensuring a personalized experience for each of our clients
              //- a.services__link.text-link(href="#", data-open-modal="know-more") know more
      .page-section__body
        .container
          .page-section__grid.swiper(data-slider="services")
            .services__list.swiper-wrapper
              .decor-flash.decor-flash--services
              each card in serviceItems
                article.card.card--sticky.swiper-slide
                  .card__image-wrapper(data-image-lazy)
                    +picture-lazy(card.img.path, card.img.image, card.img.format, card.img.width, card.img.height, card.img.altText)
                  .card__content.card__content--mini
                    h3.card__title.title-h3 !{card.title}
                    p.card__description.text !{card.text}
              a.card.card--link.card--sticky.swiper-slide(href="#", data-open-modal="main-form")
                .card__content.card__content--mini
                  h3.card__title.title-h3.text-uppercase GET STARTED NOW
                  p.card__description.text Ready to take the first step towards a healthier, fitter you? Powerful-Team, we believe in empowering you right from the start. That’s why we’re offering an exclusive 2-week free online fitness coaching program to kickstart your journey.
                  .card__note Start 14-days free trial
                +icon('icon-biceps', 169, 205).card__biceps

