.main-nav {
  &__list {
    display: flex;
    margin: 0;
    margin-right: size(50px);
    margin-left: size(60px);
    padding: 0;

    list-style: none;
  }

  &__item {
    margin-right: size(20px);

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color: $color-default-white;

    &.is-active {
      opacity: 0.6;
    }
  }

  &__toggle {
    display: none;
  }
}
