//- Галерия О нас
-
  const aboutGallery = [
    {
      name: "gallery-1",
      format: "jpg",
      width: 350,
      height: 410,
      altText: 'powerfull team',
    },
    {
      name: "gallery-2",
      format: "jpg",
      width: 350,
      height: 451,
      altText: 'powerfull team',
    },
    {
      name: "gallery-3",
      format: "jpg",
      width: 350,
      height: 376,
      altText: 'powerfull team',
    },
    {
      name: "gallery-4",
      format: "jpg",
      width: 350,
      height: 410,
      altText: 'powerfull team',
    },
    {
      name: "gallery-5",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-6",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-7",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-8",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-9",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-10",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-11",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-12",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-13",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-14",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-15",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-16",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-17",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-18",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-19",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
    {
      name: "gallery-20",
      format: "jpg",
      width: 350,
      height: 465,
      altText: 'powerfull team',
    },
  ]

-
  const featuresItems = [
    {
      title: {
        top: "Over 300",
        bottom: "Satisfied Clients",
      },
    },
    {
      title: {
        top: "Proven Experience",
        bottom: "Since 2010",
      },
    },
    {
      title: {
        top: "24/7",
        bottom: "online support",
      },
    },
    {
      title: {
        top: "100% personalized",
        bottom: "workout plans",
      },
    },
    {
      title: {
        top: "Continuous",
        bottom: "Professional Development",
      },
    },
    {
      title: {
        top: "Transparent",
        bottom: "Progress Tracking",
      },
    },
  ]

//- Наш опыт
-
  const experiseItems = [
    {
      title: "Assessment & Physiotherapy",
      text: "Expert Analysis and Rehabilitative Training for&nbsp;Optimal Movement and&nbsp;Health",
      img: {
        path: 'content/expertise',
        image: 'expert-phys',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Assessment',
      },
    },
    {
      title: "Technique Exercises",
      text: "Mastering Form and Precision for Efficient and&nbsp;Safe Workouts",
      img: {
        path: 'content/expertise',
        image: 'expert-pl',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Technique Exercises',
      },
    },
    {
      title: "Strength training",
      text: "Empowering Your Fitness with Targeted Muscle Building and Conditioning",
      img: {
        path: 'content/expertise',
        image: 'expert-str',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Strength',
      },
    },
    {
      title: "Body Weight Control",
      text: "Strategic Weight Management for Achieving and&nbsp;Maintaining Your Ideal Physique",
      img: {
        path: 'content/expertise',
        image: 'expert-bb',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Body Weight Control',
      },
    },
    {
      title: "Endurance",
      text: "Building Stamina and Resilience for Peak Physical Performance",
      img: {
        path: 'content/expertise',
        image: 'expert-end',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Endurance',
      },
    },
    {
      title: "Nutrition",
      text: "Tailored Nutritional Guidance for Fueling and&nbsp;Nourishing Your Body",
      img: {
        path: 'content/expertise',
        image: 'expert-nut',
        format: 'jpg',
        width: 400,
        height: 370,
        altText: 'Nutrition',
      },
    },
  ]

//- Как это работает
-
  const howItWorksItems = [
    {
      title: "Kickstart Your Transformation",
      subtitle: 'Your first assessment ',
      text: "Expert Analysis for a Tailored Fitness Experience",
      list: [
        'Tight Muscle Identification: Pinpointing areas needing improvement',
        'Exercise Technique Review: Ensuring your workouts are both safe and effective',
        'Mobility & Stretching Evaluation: Customizing routines for better flexibility',
        'Personal Training Plan: Tailored workouts to meet your goals',
        'Nutrition Plan Creation: Fueling your fitness journey with the right diet',
        'Empowerment for Change: Understand the potential for transformation in just 30 days',
      ],
      img: {
        path: 'content/how-it-works',
        image: 'how-it-works-1',
        format: 'jpg',
        width: 247,
        height: 540,
        altText: 'Assessment',
      },
    },
    {
      title: "Do workouts designed just for you",
      subtitle: 'CUSTOM WORKOUTS',
      text: "Because the best workouts are the ones you’ll actually do. We build workouts to fit:",
      list: [
        'Your goals',
        'Your body & injuries',
        'Your schedule & favorite activities',
      ],
      img: {
        path: 'content/how-it-works',
        image: 'how-it-works-2',
        format: 'jpg',
        width: 247,
        height: 540,
        altText: 'CUSTOM WORKOUTS',
      },
    },
    {
      title: "Improve your nutrition with expert guidance",
      subtitle: 'PERSONALIZED NUTRITION',
      text: "Sustainable improvements to nutrition drive life-changing benefits, your coach will:",
      list: [
        'Start with diagnostics to understand what’s working and what can be improved',
        'Provide ongoing feedback and resources to get 1% better every day',
        'Help you adopt easy swaps, recipes, and habits',
      ],
      img: {
        path: 'content/how-it-works',
        image: 'how-it-works-3',
        format: 'jpg',
        width: 247,
        height: 540,
        altText: 'PERSONALIZED NUTRITION',
      },
    },
    {
      title: "Stay motivated with daily support and optional live video sessions",
      subtitle: 'ACCOUNTABILITY',
      text: "Because life happens. When it does, your coach has your back.",
      list: [
        'Get daily guidance via text message',
        'Receive feedback about your form with photos and videosy',
        'Rate your workouts and develop habits that lead to long-term success',
      ],
    },
  ]

//- Отзывы
-
  const reviews = [
    {
      name: "Laurel Logas",
      text: "I met Ivan 16 months ago when I responded to a free 30 minute personal training invitation for my 61st. birthday. That was the best birthday present ever! Ivan is a premier personal trainer. He is very knowledgeable about how to properly train the body for the desired results with correct technique. He motivates me to do more than I think that I can do. I like the results and I have fun. I give Ivan 5 stars Plus!",
      //- href: 'https://maps.app.goo.gl/uWAGC9jDj74y119AA',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-temp',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Joe Johns",
      text: "I have been working with Ivan for over a year now. His electric personality and approach to personal fitness and goals has made my fitness journey become a lifestyle, not just a work out. Highly recommend Ivan to guide you on your journey.",
      //- href: 'https://maps.app.goo.gl/uWAGC9jDj74y119AA',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-temp',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Sasha",
      text: "Anastasia is not just a trainer; she’s a true motivator and a guiding light on my fitness journey. As someone who’s not your typical gym enthusiast, Anastasia has transformed my perspective on fitness. Her unwavering support gets me through the toughest days, making the gym a haven even after the most stressful times in life.",
      //- href: 'https://maps.app.goo.gl/uWAGC9jDj74y119AA',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-sasha',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Angela Cirruzzo",
      text: "Relocating is scary and having fitness goals can be frustrating. However, my new trainer & coach Ivan has an unbelievable understanding of how the body & mind works.",
      //- href: 'https://maps.app.goo.gl/iZrds9fwLmZ3DAx7A',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-temp',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Yaroslav Loganov",
      text: "Ivan is an exceptional trainer who truly embodies the essence of a powerful-team leader. Under his guidance, my bodybuilding journey has reached new heights. His expertise goes beyond the standard;",
      //- href: 'https://maps.app.goo.gl/y19sNo5fnzJL2Jm1A',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-yaroslav',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Dan Jovanovic",
      text: "I had a chance to work with different trainers in my life but I can say without a doubt that Ivan’s knowledge , guidance , preparations and overall understanding of bodybuilding is head and shoulders above the rest and would highly recommend him to anyone serious about physical development and health improvement.",
      //- href: 'https://maps.app.goo.gl/Y3BS3tJxVNpDiFRRA',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-temp',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Samanta Oliver",
      text: "Anastasiia is knowledgeable and pays very close attention to form. Like many, my pain points are back and knees which makes some exercises and heavy lifting a challenge.",
      //- href: 'https://maps.app.goo.gl/2NsNPGavi4GnH42i7',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-samanta',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Chris Monroe",
      text: "You won’t find a better coach who cares more about your wholistic health than Ivan. He is the real deal and I wouldn’t be where I am — the fittest I have been in my life at 53 — without him.",
      //- href: 'https://maps.app.goo.gl/Ni3e1LrBVDYPojBy6',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-chris',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Vasily Belotserkovsky",
      text: "Ivan is powerful, he is the best coach, I recommend him to everyone",
      //- href: 'https://maps.app.goo.gl/XM9coSSpcK3TWVqH7',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-vasily',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
    {
      name: "Anna Loganova",
      text: "I recently started my fitness journey with Ivan as my coach, and it’s been an incredible experience. Ivan isn’t just a trainer; he’s a motivator and a guide. His approach is personalized and he always ensures that I am comfortable yet challenged in our sessions. What stands out the most is the sense of being part of a powerful-team under his guidance.",
      //- href: 'https://maps.app.goo.gl/wf4QkBYCPmmGbvPe7',
      href: 'https://maps.google.com?q=Powerful-team,%202355%20Midnight%20Pearl%20Dr,%20Sarasota,%20FL%2034240&ftid=0x88c3398aeeb8a78b:0x16b3e8a136ebdce2&hl=en-US&gl=us&entry=gps&lucs=,47071704,47069508,47084304,94206605&g_st=it',
      img: {
        path: 'content/reviews',
        image: 'reviews-temp',
        format: 'png',
        width: 48,
        height: 48,
        altText: 'author photo',
      },
    },
  ]

//- Услуги
-
  const serviceItems = [
    {
      title: "Private personal training",
      text: "Experience tailored fitness guidance with our Private Personal Training. Our service trainers provide personalized workout plans, ensuring effective, safe, and enjoyable sessions to help you meet your fitness goals",
      img: {
        path: 'content/service',
        image: 'service-1',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Private personal training',
      },
    },
    {
      title: "Online coaching",
      text: "Our Online Coaching brings professional fitness training to your home. Get custom workout plans, real-time feedback, and continuous support from our certified trainers, all through our convenient online platform",
      img: {
        path: 'content/service',
        image: 'service-2',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Online coaching',
      },
    },
    {
      title: "Strength training",
      text: "Build strength and endurance with our specialized Strength Training programs. Designed for all levels, these sessions focus on muscle development, core stability, and overall power enhancement",
      img: {
        path: 'content/service',
        image: 'service-3',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Strength training',
      },
    },
    {
      title: "Weight loss",
      text: "Embark on a transformative journey with our Weight Loss services. We combine exercise, nutrition advice, and lifestyle changes to help you achieve a healthier body composition and a more confident self",
      img: {
        path: 'content/service',
        image: 'service-4',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Weight loss',
      },
    },
    {
      title: "Powerlifting coaching",
      text: "Elevate your lifting with our Powerlifting Coaching. Gain expertise in squat, bench press, and deadlift while improving technique, strength, and competition performance under the guidance of our seasoned coaches",
      img: {
        path: 'content/service',
        image: 'service-5',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Powerlifting coaching',
      },
    },
    {
      title: "Improve mobility and flexibility",
      text: "Enhance your movement quality with our Mobility and Flexibility training. Our exercises focus on increasing range of motion, reducing injury risk, and improving overall functional fitness",
      img: {
        path: 'content/service',
        image: 'service-6',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Improve mobility and flexibility',
      },
    },
    {
      title: "Functional Training",
      text: "Our Functional Training program is designed to prepare your body for daily activities. Improve balance, agility, and strength through practical exercises that mimic everyday movements",
      img: {
        path: 'content/service',
        image: 'service-7',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Functional Training',
      },
    },
    {
      title: "Nutrition and meal plans",
      text: "Fuel your fitness journey with our Nutrition and Meal Plans. Tailored to your personal goals and dietary preferences, our plans ensure you receive the right balance of nutrients to support your training and lifestyle",
      img: {
        path: 'content/service',
        image: 'service-8',
        format: 'jpg',
        width: 500,
        height: 350,
        altText: 'Nutrition and meal plans',
      },
    },
  ]

//- Dragg slider
-
  const draggSliderImages = [
    {
      img: {
        name: 'ba-4',
      },
      imgAfter: {
        name: 'ba-4-1'
      },
    },
    {
      img: {
        name: 'ba-1',
      },
      imgAfter: {
        name: 'ba-1-1'
      },
    },
    {
      img: {
        name: 'ba-2',
      },
      imgAfter: {
        name: 'ba-2-1'
      },
    },
    {
      img: {
        name: 'ba-3',
      },
      imgAfter: {
        name: 'ba-3-1'
      },
    },
    {
      img: {
        name: 'ba-5',
      },
      imgAfter: {
        name: 'ba-5-1'
      },
    },
  ]
