mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "index.html#about",
        text: "About us"
      },
      {
        href: "index.html#services",
        text: "Services"
      },
      {
        href: "index.html#how-it-works",
        text: "How it Works"
      },
      {
        href: "index.html#pricing",
        text: "Pricing"
      },
      {
        href: "index.html#reviews",
        text: "Reviews"
      },
      {
        href: "index.html#contacts",
        text: "Contact us"
      },
    ]

  header.page-header(class=headerMods)
    .container
      if(currentUrl === "index.html")
        //- lighthouse снимает 10 баллов SEO за <a> без href
        div.page-header__logo
          +icon("logo", 200, 57).logo
      else
        a.page-header__logo(href="index.html", aria-label="Go to top page")
          +icon("logo", 200, 57).logo
      .page-header__nav
        nav.main-nav
          .main-nav__wrapper
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    span.main-nav__link.is-active= link.text
                  else
                    a.main-nav__link(href=link.href)= link.text
        .page-header__buttons
          +button({text: "Get started"})(data-open-modal="main-form")
      button.page-header__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
            +icon("icon-burger", 20, 20)
