mixin modal-success()
  .modal-success
    .modal-success__image-wrapper
      +picture('content','success-img', 'jpg', 1440, 768, 'success').modal-success__image
    .modal-success__content
      h2.modal-success__title.title-h1 You All Set!
      p.modal-success__description.text-big We will contact you soon!
      a(href="index.html").button.button--outline.text-large Go&nbsp;to&nbsp;Homepage

      //- a.modal-success__link.text-large(href="#")(aria-label="Close popup", data-close-modal) Back to website
